@charset "UTF-8";

 .barradalogo{
     background-color: FFFFFF;
     width: 100%;
     display: flex;
     justify-content: center;
 }

 .logoimagem{
     padding-bottom: 10px;
 }

 .barramenu{
     background-color: #F15B40;  
     width: 100%;
     display: flex;
     justify-content: space-evenly;
 }

 .barramenu>a{
     color: #FFFFFF;
     font-family: Heebo;
     text-decoration: none;
     font-weight:500;
     font-size: 1em;
 }


 .tamanhoslide{
     width: 70%;
     margin: auto;
     border-radius: 40%;
 }

.materias{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom:40px;
    display: flex;
    justify-content: center;
}

.borda-direita{
    border-width: 1px;
    border-color: #F15B40;
    border-style: hidden hidden hidden hidden;

}

.borda-esquerda{
    border-width: 1px;
    border-color: #F15B40;
    border-style: hidden solid hidden hidden;
}

 .coluna{
     width:40%;
 }

 .titulo{
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    padding: 10px;
    color: #000000;

    border-width: 1px;
    border-color: #F15B40;
    border-style: solid hidden solid hidden;
    margin-bottom: 10px;
 }

 .card-noticia{
     width: 90%;
     margin: auto;
 }

 .colunista{
     display: flex;
     justify-content: left;
 }

 .colunista>.texto{
     display: flex;
     flex-direction: column;
     justify-content: center;
 }

 .imagem>img{
     width: 100%;
     height: 100%;

 }

 a {
     text-decoration: none;
 }

 .mais{
     display: flex;
     justify-content: center;
 }
 


